<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
<% if logged_in? %>
  <ul>
    <li><%= current_user.username %></li>
    <li><a href="<%= new_sub_url %>">Create a sub!</a></li>
    <li><a href="<%= subs_url %>">All Subs</a></li>
    <li>
      <form action="<%= session_url %>" method="POST">
        <%= auth_token %>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form>
    </li>
  </ul>
<% else %>
  <p><a href="<%= new_session_url %>">Sign In!</a></p>
<% end %>
  <br>

    <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error|%>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>
    
    <% if flash[:messages] %>
    <ul>
      <% flash[:messages].each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %> 
  
    <%= yield %>
  </body>
</html>
