<% if action == :new %>
<% action_text = "Sign Up" %>
<% else  %>
<% action_text = "Update" %>
<% end %>



<form action="<%= users_url %>" method="POST">
  <%= auth_token %>
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]" value="<%= user.username %>">
  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]" value="<%= user.password %>">
  <input type="submit" value="<%= action_text %>">

</form>
